<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSIT314SDM"
        tools:targetApi="31">

        <!-- A clean, sorted list of all your activities -->
        <activity
            android:name=".boundary.AdminCreateUserActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.AdminDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".boundary.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.AllRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.CategoryManagementActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.CreateRequestActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.CreateUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.CsrDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.CSRHomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.CsrProfileActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.CSRSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.DailyReportActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.EditCsrProfileActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.EditHelpRequestActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.EditPinProfileActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.HelpRequestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.ManageCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.MatchHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.MonthlyReportActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.MyMatchesActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.MyRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.PINHomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.PinProfileActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.PINSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.PlatformDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.SearchUserActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.UserAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.ViewAllUsersActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.MyInProgressRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.ViewSavedRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".boundary.WeeklyReportActivity"
            android:exported="false" />

        <!-- Launcher Activity (The first screen that opens) -->
        <activity
            android:name=".boundary.loginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

</manifest>
